<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>740164993241-nr74ehq8ionhrlim0nncmq8rebnc5htl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsxNMwfFHjPETI_tqL0Z6r2AXHJXyL28</string>
	<key>GCM_SENDER_ID</key>
	<string>740164993241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmnem.boycottPro</string>
	<key>PROJECT_ID</key>
	<string>unknown-number-whats-message</string>
	<key>STORAGE_BUCKET</key>
	<string>unknown-number-whats-message.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740164993241:ios:edfb84e20ff04241017ec8</string>
</dict>
</plist>